* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bubblegum Sans", cursive;
  color: white;
}

a {
  color: inherit;
}

ul,
ol {
  list-style: none;
  font-size: 1.5rem;
  padding: 0;
}

.headerWrapper {
  display: flex;

  padding-top: 0.5rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.headerWrapperItem-1,
.headerWrapperItem-3,
.headerWrapperItem-4 {
  flex: 0.5;
}

img {
  display: block;
  margin-left: 2rem;
}

.headerWrapperItem-2 {
  flex: 3;
  font-size: 2rem;

  padding-top: 0.5rem;
  color: #e5c9b2;
  font-family: Rammetto One;
}
.headerWrapperItem-3 {
  text-align: right;
}

.headerWrapperItem-4 {
  text-align: center;
}

.headerWrapperItem-3,
.headerWrapperItem-4 {
  font-size: 2rem;
  font-weight: 400;
  padding-top: 2.8rem;
  color: #d4d7d2;
}

.mainWrapper {
  display: flex;
  background-color: #d4d7d2;
  padding: 2rem;
}
.mainWrapperItem {
  flex: 1;
}

h2 {
  padding-bottom: 1rem;
  color: #6c757d;
  font-size: 2rem;
  text-transform: uppercase;
}
.colCurrency {
  padding: 0;
}
.listName {
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.listValue {
  color: #6c757d;
}

.form-control:focus {
  border-color: #e5c9b2;
  box-shadow: 0 0 0 0.2rem #e5c9b2;
  color: #6c757d;
}

.colConvertor-1 {
  padding-right: 4rem;
  padding-left: 0;
}
.colConvertor-2 {
  padding-right: 0;
  padding-left: 2rem;
}
footer {
  color: #6c757d;
  padding: 2rem;
}
@media (max-width: 642px) {
  img {
    width: 60px;
  }

  .headerWrapperItem-2 {
    font-size: 1rem;
  }
  .headerWrapperItem-3 {
    padding-right: 0.5rem;
  }
  .headerWrapperItem-3,
  .headerWrapperItem-4 {
    font-size: 1rem;
    padding-top: 3rem;
  }
  .mainWrapper {
    flex-direction: column;
  }

  .colConvertor-1 {
    padding-right: 0;
  }

  .listValue {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  .mainSecondItem {
    padding-top: 3.5rem;
  }
  .currencyName {
    color: #d4d7d2;
  }
  .mainSecondItem li {
    font-size: 1.5rem;
  }
}
