* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Macondo;
}

a {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.headerWrapper {
  display: flex;

  color: #796d1a;
  padding-top: 0.5rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.headerWrapperItem-1,
.headerWrapperItem-3,
.headerWrapperItem-4 {
  flex: 1;
}

img {
  display: block;
  margin-left: 8rem;
}

.headerWrapperItem-2 {
  flex: 3;
  font-size: 2.8rem;
  font-weight: 500;
  padding-top: 1.3rem;
}

.headerWrapperItem-3,
.headerWrapperItem-4 {
  text-align: right;
  font-size: 2.2rem;
  font-weight: 400;
  padding-top: 2rem;
}

.mainWrapper {
  display: flex;
  background-color: #dffcad;
}
.mainWrapperItem {
  flex: 1;
}
.dropdown {
  position: relative;
}
