* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bubblegum Sans", cursive;
  color: white;
}

a {
  color: inherit;
}

ul,
ol {
  list-style: none;
  font-size: 1.5rem;
  padding: 0;
}

.headerWrapper {
  display: flex;

  padding-top: 0.5rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.headerWrapperItem-1,
.headerWrapperItem-3,
.headerWrapperItem-4 {
  flex: 0.5;
}

img {
  display: block;
  margin-left: 2rem;
}

.headerWrapperItem-2 {
  flex: 3;
  font-size: 2rem;

  padding-top: 0.5rem;
  color: #e5c9b2;
  font-family: Rammetto One;
}
.headerWrapperItem-3 {
  text-align: right;
}

.headerWrapperItem-4 {
  text-align: center;
}

.headerWrapperItem-3,
.headerWrapperItem-4 {
  font-size: 2rem;
  font-weight: 400;
  padding-top: 2.8rem;
  color: #d4d7d2;
}

.mainWrapper {
  display: grid;
  align-items: start;

  grid-template-columns: repeat(auto-fit, minmax(350px, 500px));

  background-color: #d4d7d2;
  padding: 2rem;
}
.mainWrapperItem:nth-child(odd) {
  grid-column: span 1.8;
}

h2 {
  padding-bottom: 1rem;
  color: #6c757d;
  font-size: 2rem;
  text-transform: uppercase;
}
.colCurrency {
  padding: 0;
}
.listName {
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.listValue {
  color: #6c757d;
}

.form-control:focus {
  border-color: #e5c9b2;
  box-shadow: 0 0 0 0.2rem #e5c9b2;
  color: #6c757d;
}

.colConvertor-1 {
  padding-right: 0.5rem;
  padding-left: 0;
}
.colConvertor-2 {
  padding-right: 0;
  padding-left: 0.5rem;
}
#buttonCalculate1,
#buttonCalculate2 {
  background-color: #6c757d;
  color: #ffff;
  transition: all 0.1s ease-in-out;
  border-radius: 0.4rem;
  box-shadow: none;
  padding: 0.5rem 3rem;
  border-style: none;
  display: block;
  margin-left: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
}
#buttonCalculate2 {
  padding: 0.5rem 2.7rem;
}

#buttonCalculate1:hover,
#buttonCalculate2:hover {
  cursor: pointer;
  color: #6c757d;
  background-color: #ffff;
}
.currencyName {
  color: #d4d7d2;
}
.listValueConvertor1,
.listValueConvertor2 {
  padding-left: 1rem;
}

.sellContainer,
.buyContainer {
  display: flex;
}
.sellContainerItem1,
.buyContainerItem1 {
  flex: 1;
}
.sellContainerItem2,
.buyContainerItem2 {
  flex: 1;
  text-align: end;
}

select {
  background-color: #6c757d;
  color: white;
  font-size: 1rem;
  border-radius: 0.4rem;
  padding: 0.5rem;
}

select:focus {
  outline-style: none;
}

footer {
  color: #6c757d;
  padding: 2rem;
}
@media (max-width: 642px) {
  img {
    width: 60px;
    margin-left: 1.8rem;
  }
  .headerWrapperItem-2,
  .headerWrapperItem-3,
  .headerWrapperItem-4 {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 1180px) {
  .mainFirstItem {
    padding-bottom: 3rem;
  }
}
