* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Macondo;
}

a {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

main {
  background-color: #dffcad;
}

.headerWrapper {
  display: flex;

  font-size: 3rem;
}

.headerWrapperItem-1,
.headerWrapperItem-3,
.headerWrapperItem-4 {
  flex: 1;
}

.headerWrapperItem-2 {
  flex: 2;
}

.headerWrapperItem-3,
.headerWrapperItem-4 {
  text-align: right;
}

.mainWrapper {
  display: flex;
}
.mainWrapperItem {
  flex: 1;
}
.dropdown {
  position: relative;
}
